/* LOGIN PAGE */

#loginBox{
	margin: 20px auto;
	text-align: center;
	padding-top: 15px;
	font-family: "Verdana";
	color: white;
}

#loginBox input[type="text"], #loginBox input[type="password"]{
	background-color: white;
	margin-top: 5px;
	margin-bottom:10px;
	-webkit-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
	border: 1px solid #848484; 
    -webkit-border-radius: 5px; 
    outline:0; 
    height:25px; 
    width: 275px; 
    padding-left:10px; 
    padding-right:10px; 
}

label{
	font-size: 18px;
	font-weight: bold;
}

#loginBox input[type="submit"]{
	width: 100px;
	height:30px;
	background-color: #FF9100;
	outline: 0;
	-webkit-border-radius: 5px; 
	color: white;
	font-size: 15;
	font-weight: bold;
}

#nonLogin{
	display: inline-block;
	padding: 8px;
	background-color: #555555;
	-webkit-border-radius:5px;
}

#loginLogo{
	width: 250px;
	height: auto;
	margin-left: 30px;
}