
/* MAIN CONTENT SECTION */


#content{
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}
#subjects{
	margin: 0 auto;
	display: inline;
}
.subjects:first-child{
	margin-left:0; 
}

.subject{
	width: 100px;
	height:60px;
	-webkit-border-radius: 50px;
	display: inline-block;
	margin-left: 20px;
	margin-top: 20px;
	padding-top: 40px;
	border: 1px solid black;
	background-color: rgba(0,0,0,0.3);
}

.subjectContent{
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	max-height: 0px;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity 1s, max-height 0.3s;
}
.subjectContent:target{
	max-height: 1000px;
	opacity: 1;
	-webkit-transition: opacity 1s, max-height 1.5s;
}

.category{
	width: 200px;
	height: 100px;
	-webkit-border-radius: 40px;
	background-color: #888888;
	display: inline-block;
	margin-left:20px;
	margin-top: 20px; 
	background-image: url("http://d18oltbgogniqq.cloudfront.net/Menu/876f5cdc-5d5f-4588-aecb-a31800a1e20f/nb-no/Thumbnail-c5963656-3b50-44b4-b399-d346c636890e");
}