
/* MAIN CONTENT SECTION */


#content{
	width: 100%;
	text-align: center;
	margin-bottom: 125px;
}
#subjects{
	margin: 0 auto;
	display: inline;
}
.subjects:first-child{
	margin-left:0; 
}

.subject{
	display: inline-block;
	margin-left: 5px;
	margin-top: 20px;
	padding: 0px;
	overflow: hidden;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;

}

.subject:hover{
	opacity: 1;
}

.subject img{
	height: 100px;
}

.subjectContent{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	max-height: 0px;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity 1s, max-height 0.3s;
}
.subjectContent:target{
	max-height: 2000px;
	opacity: 1;
	-webkit-transition: opacity 1s, max-height 1.5s;
}

.category{
	width: 200px;
	height: 100px;
	-webkit-border-radius: 10px;
	display: inline-block;
	margin-left:20px;
	margin-top: 20px; 
	padding-top: 0;
	background-image: url("../img/cat.png");
	background-size: 100% 100%;
	border: 2px solid white;
}