/* ADMIN PAGE */

html {
    background-image: none;
    background-color: lightgrey;
}

table, tr, td {
    border-collapse: collapse;
    border-bottom: 2px solid black;
    padding: 20px;
}
table{
    width: 100%;

}

table a, table a:visited{
    color: black;
}

#mainTable {
    padding: 50px;
    border-radius: 25px;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 43%, #d3d3d3 100%, #d3d3d3 100%, #d3d3d3 101%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(43%,#ffffff), color-stop(100%,#d3d3d3), color-stop(100%,#d3d3d3), color-stop(101%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#addButton {
    border-style: none;
    outline: 0;
    -webkit-appearance: none;
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    background: transparent url('/public/img/plussIkon.png');
    cursor: pointer;
}