/* ADMIN PAGE */

body {
    /*background: #e9eaed url("http://p1.pichost.me/i/41/1640968.jpg") !important;*/
    background: rgba(221, 243, 248, 1);
    background: -moz-linear-gradient(top, rgba(221, 243, 248, 1) 0%, rgba(221, 243, 248, 1) 3%, rgba(35, 187, 234, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221, 243, 248, 1)), color-stop(3%, rgba(221, 243, 248, 1)), color-stop(100%, rgba(35, 187, 234, 1)));
    background: -webkit-linear-gradient(top, rgba(221, 243, 248, 1) 0%, rgba(221, 243, 248, 1) 3%, rgba(35, 187, 234, 1) 100%);
    background: -o-linear-gradient(top, rgba(221, 243, 248, 1) 0%, rgba(221, 243, 248, 1) 3%, rgba(35, 187, 234, 1) 100%);
    background: -ms-linear-gradient(top, rgba(221, 243, 248, 1) 0%, rgba(221, 243, 248, 1) 3%, rgba(35, 187, 234, 1) 100%);
    background: linear-gradient(to bottom, rgba(221, 243, 248, 1) 0%, rgba(221, 243, 248, 1) 3%, rgba(35, 187, 234, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddf3f8', endColorstr='#23bbea', GradientType=0);
}

table, tr, td {
    border-collapse: collapse;
    border-bottom: 2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}
table{
    width: 100%;
    overflow: hidden;

}

table a, table a:visited{
    color: black;
}

#schoolMainTable {
    box-shadow: 5px 5px 2px #959595;
    padding: 20px;
    border-radius: 25px;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 43%, #d3d3d3 100%, #d3d3d3 100%, #d3d3d3 101%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(43%,#ffffff), color-stop(100%,#d3d3d3), color-stop(100%,#d3d3d3), color-stop(101%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#subjectMainTable {
    box-shadow: 5px 5px 2px #959595;
    padding: 20px;
    border-radius: 25px;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 43%, #d3d3d3 100%, #d3d3d3 100%, #d3d3d3 101%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(43%,#ffffff), color-stop(100%,#d3d3d3), color-stop(100%,#d3d3d3), color-stop(101%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#learningObjectMainTable {
    padding: 20px;
    border-radius: 25px;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 43%, #d3d3d3 100%, #d3d3d3 100%, #d3d3d3 101%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(43%,#ffffff), color-stop(100%,#d3d3d3), color-stop(100%,#d3d3d3), color-stop(101%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#categoriesMainTable {
    padding: 20px;
    border-radius: 25px;
    background: #ffffff; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #ffffff 43%, #d3d3d3 100%, #d3d3d3 100%, #d3d3d3 101%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(43%,#ffffff), color-stop(100%,#d3d3d3), color-stop(100%,#d3d3d3), color-stop(101%,#d3d3d3)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 43%,#d3d3d3 100%,#d3d3d3 100%,#d3d3d3 101%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#categoryAddButton {
    border: none;
    background: transparent url('/public/img/plussIkon.png');
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    outline: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

#learningObjectAddButton {
    border: none;
    background: transparent url('/public/img/plussIkon.png');
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    outline: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

#learningObjectAddButton:hover {
    /*background-color: red;*/
}

#schoolAddButton {
    border: none;
    background: transparent url('/public/img/plussIkon.png');
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    outline: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

#subjectAddButton {
    border: none;
    background: transparent url('/public/img/plussIkon.png');
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    outline: 0;
    -webkit-appearance: none;
    cursor: pointer;
}
/*
label {
    background-color: red;
    right: 80%;
}
*/
ul#adminMainMenu, ul.sideAdminSub {
    list-style-type: none;
}

ul#adminMainMenu li{
    outline: 1px solid red;
    width: 175px;
    text-align: center;
    position: relative;
    float: left;
}


