/* GENERAL + HEADER AND FOOTER */
html, body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
}
ul{
    list-style-type: none;
    padding: 0;
}

a, a:visited{
	color: white;
	text-decoration: none;
}
a:hover{
	color: #DDDDDD;
}

.widthConstrained{
	max-width: 1000px;
	margin: 0 auto;
	position: relative;
}
#content{
    width: 100%;
    text-align: center;
    min-height: 80%;
}

#header{
	width: 100%;
	background-color: #4d4d4d;
}

.center{
    text-align: center;
    margin: auto;
    overflow: hidden;
    height: 40px;
}

#hamMenu{
	width: 15%;
	height: 24px;
	padding: 10px 10px 6px;
	position: absolute;
	top: 0;
	left: 10px;
}

#classRangeLabel{
    position: absolute;
    left: 50px;
    top: -10px;
    width: 100px;
    color: white;
}

#hamMenu:hover{
	background-color: #555555;
}

#hamMenu > div:first-child{
    width: 25px;
	border-top: 4px solid white;
}
#hamMenu > div:nth-child(1), #hamMenu > div:nth-child(2){
    width: 25px;
	height: 4px;
	border-bottom: 4px solid white;
}

#dropDownMainMenu{
	border: none;
	position: relative;
	bottom: -10px;
	left: -10px;
	width: 250px;
	background-color: #555555;
	overflow: hidden;
	z-index: 99;
    visibility: hidden;
	transition:visibility 0.3s;

}

#dropDownMainMenu img{
    width: 40px;
}

#hamMenu:hover #dropDownMainMenu{
    visibility: visible;
}

#dropDownMainMenu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#dropDownMainMenu ul li{
	display: block;
	background-color: #222222;
	color: white;
	position: relative;
    overflow: hidden;
}

#dropDownMainMenu ul li img{
	position: absolute;
	right: 15px;
	top:0px;
}
#dropDownMainMenu ul li ul{
    position: absolute;
    top:40px;
    width: 100%;
}
#dropDownMainMenu > ul > li:last-child{
    padding-left: 0;
}
#dropDownMainMenu > ul > li:last-child span{
    padding-left: 10px;
    cursor: pointer;
    width: 100%;
}
#dropDownMainMenu > ul > li:last-child li{
    padding-left: 30px;
}

#dropDownMainMenu ul li:hover{
	background-color: #333333;
}
#dropDownMainMenu a, #dropDownMainMenu span{
    display: inline-block;
    width: 90%;
    padding: 10px;
}

#user{
	position: absolute;
	right: 0px;
	top:10px;
	display: inline-block;
}

#user img{
    height:20px;
}

#user a{
	margin-right: 10px; 
}

#headerLogo{
	width: 160px;
	height: auto;
    margin-top: 5px;
}

.topMenuUser{
    vertical-align: 4px;
}


#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
    background-color: #4d4d4d;
}



#footer ul{
	list-style-type: none;
	color: white;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#footer ul li{
	display: inline;
}

@media screen and (min-height: 900px){
    html{
        background: url("/public/img/bg_bilde_sommer3.jpg") fixed bottom;
        background-size: cover;
    }
}
@media screen and (max-height: 899px){
    html {
        background: url("/public/img/bg_bilde_sommer3.jpg")fixed center;
        background-size: cover;
    }
}

/* desktop */
@media screen and (min-width: 775px) {
    #content{
        margin-bottom: 125px;
    }
    #footerLogo{
	position: absolute;
	left: 0px;
	}

	#socialNetworkLinks{
		position: absolute;
		right: 5px;
		top: -8px;
	}
}

/* mobile */
@media screen and (max-width: 774px) {


    html {
        background: #e0f4f9; /* Old browsers */
        background: -moz-linear-gradient(top, #e0f4f9 0%, #7fcfe8 50%, #17b9ea 100%, #06a9db 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0f4f9), color-stop(50%,#7fcfe8), color-stop(100%,#17b9ea), color-stop(100%,#06a9db)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #e0f4f9 0%,#7fcfe8 50%,#17b9ea 100%,#06a9db 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #e0f4f9 0%,#7fcfe8 50%,#17b9ea 100%,#06a9db 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #e0f4f9 0%,#7fcfe8 50%,#17b9ea 100%,#06a9db 100%); /* IE10+ */
        background: linear-gradient(to bottom, #e0f4f9 0%,#7fcfe8 50%,#17b9ea 100%,#06a9db 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f4f9', endColorstr='#06a9db',GradientType=0 ); /* IE6-9 */
        background-repeat: no-repeat;
    }
    #content{
        margin-bottom: 0px;
    }
    #footer{
        display: none;
    }

    #dropDownMainMenu{
        left: -20px;
    }
    #hamMenu{
        width: 6%;
    }

}
@media screen and (max-width: 710px) {
    .topMenuUser{
        display: none;
    }
    #profilePic{
        margin-right: 10px;
    }
    #classRangeLabel{
        display: none;
    }
}
