#Hinduisme {
    text-align: center;
}

#Pudsja {
    text-align: center;
}

#hinduism_content {
    display: inline-block;
    width: 700px;
}

#pudsja_content {
    display: inline-block;
    width: 700px;
}