/* LOGIN PAGE */
html{
    text-shadow: 1px 1px 3px #000000;
    text-align: center;
}

/*
body {
    background: linear-gradient(deepskyblue, lightblue);
    background: -webkit-linear-gradient(deepskyblue, lightblue);
}
*/
#loginBox{
	text-align: center;
	color: white;
    display: inline-block;
    padding: 10px;
    margin-bottom: 60px;
}

#loginBox input[type="text"], #loginBox input[type="password"],
.signup input[type="text"], .signup input[type="password"]{
	background-color: white;
	margin-top: 5px;
	margin-bottom:10px;
    border-radius: 5px;
    outline:0; 
    height:25px; 
    width: 275px;
    padding-left:10px; 
    padding-right:10px;
	border-style: none;
}

label{
	font-size: 18px;
	font-weight: bold;
}

#loginBox input[type="submit"],
.signup input[type="submit"]{
	width: 150px;
	height:50px;
	background-color: #FF9100;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	border-style: none;
    -webkit-appearance: none;
	cursor: pointer;
	transition: background-color 0.5s;
}
#loginBox input[type="submit"]:hover,
.signup input[type="submit"]:hover{
	background-color: #FF6000;
}

#nonLogin{
	display: inline-block;
	padding: 8px;
	background-color: darkgreen;
	border-radius:5px;
}
#nonLogin:hover{
    color: white;
}

#loginLogo img{
	width: 250px;
	height: auto;
	margin-left: 10px;
    display: none;
}
#loginLogo{
    outline: 0;
}

@media screen and (min-width: 660px) {
    #loginLogo #desktopLogo{
        display: inline;
    }
}
@media screen and (max-width: 659px) {
    #loginLogo #mobileLogo{
        display: inline;
    }

    #loginBox{
        padding-top: 0;
    }

    #loginBox input[type="text"], #loginBox input[type="password"],
    .signup input[type="text"], .signup input[type="password"]{
        width: 93%;
    }
    form p{
        margin: 0;
    }
}

.signup .regtype{
	display: inline-block;
	width: 150px;
	padding: 8px;
	border-radius: 5px;
	background-color: indianred;
}

.signup .signupType{
	height: 0px;
	overflow: hidden;
    opacity: 0;
	transition: opacity 1s;
}
.signup :target{
    height: auto;
    opacity: 1;
}