#homeworkCount {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: -15px;
    font-size: 10pt;
    color: white;
    background-color: dodgerblue;
    border-radius: 25%;
    text-align: center;
    text-shadow: -1px 1px 1px rgba(0, 0 ,0, 1);
    border: 2px solid white;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 1);
}

.subject{
	display: inline-block;
    padding: 0;
    text-shadow: 1px 1px #000000;
    color: white;
    cursor: pointer;
    position: relative;
    width: 25%;
    max-width:133px;
    margin: 25px 7% 24px;
}

.subjectname{
    width: 100%;
    margin: 0;
    padding: 8px;
    display: inline-block;
    background-color: #FF8700;
    position: absolute;
    z-index: 5;
    left:-10px;
    font-size: 22px;
    top: 80%;
    border-radius: 5px;
    border: 3px solid white;
}
.subjectimg{
    width: 100%;
}

.subjectContent{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	overflow: hidden;
	transition: opacity 1s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.category{
	width: 300px;
	height: 150px;
	border-radius: 10px;
	display: inline-block;
    margin: 20px 10px;
    cursor: pointer;
	padding-top: 0;
	background-size: 100% 100%;
	border: 2px solid white;
    overflow: hidden;
}

.categoryname{
    color: white;
    margin-top: 120px;
    background-color: rgba(0,0,0, 0.7);
    font-size: 26px;

}

.category:hover .categoryname{
    background-color: #00BFD5;
}


#game{
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    margin-top: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#favIcon{
   display: none;
}
#favIcon + label{
    background-image: url("/public/img/favorittericon1.png");
    float: right;
    height: 45px;
    width: 50px;
    background-size: 100%;
    cursor: pointer;
}
#favIcon:checked + label{
    background-image: url("/public/img/favorittericon2.png");
}

/*Breadcrumb source: https://css-tricks.com/triangle-breadcrumbs/*/
.breadcrumb {
    list-style: none;
    overflow: hidden;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    color: #555555;
    text-decoration: none;
    padding: 10px 0 10px 65px;
    background-color: #EEEEEE;
    position: relative;
    display: block;
    float: left;
}

.breadcrumb li a:hover { background: #BBBBBB; }
.breadcrumb li a:hover:after { border-left-color: #BBBBBB !important; }
.breadcrumb li:first-child a:hover { background: #ffea5b; }
.breadcrumb li:first-child a:hover:after { border-left-color: #ffea5b !important; }

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid #EEEEEE;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid black;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: 10px;
    background-color: #fff407;

}

.breadcrumb li:first-child a:after{
    border-left: 30px solid #fff407;
}

#subjectDropDownBtn{
    display: none;
    background-color: #333333;
    width: 100px;
    padding: 10px;
    margin: 0;
    color: white;
    cursor: pointer;
}
#subjectDropDownBtn:hover{
    background-color: #777777;
}

/* desktop */
@media screen and (min-width: 999px) {
    .subjectNormal{
        margin: 10px 3px 10px !important;
        height: 120px !important;
        width: 10%; !important;
    }

    .subjectNormal:hover .subjectimg{
        width: 113px !important;
        left:-6px !important;
        top: -6px !important;
    }

    .subject:hover .subjectimg{
        width: 120%;
        left:-13px;
        top: -10px;
        opacity: 1 !important;
    }

    .selectedSubject img{
        opacity: 1 !important;
    }

    .subjectNormal img{
        opacity: 0.3;
    }

    .subjectNormal h4{
        top: 70%;
        left: -3px;
        padding: 0;
        font-size: 16px;
        margin: 0;
    }
}



@media screen and (min-width: 775px) {

    .subjectimg{
        position: absolute;
        left: -1px;
        top: 0;
        transition: opacity 0.3s, width 0.3s, left 0.3s, top 0.3s !important;
        z-index: 3;
    }
    .subject{
        height: 150px;
    }
}
/* mobile */
@media screen and (max-width: 774px) {
    .subjectname{
        padding: 3px;
        left:-6px;
        font-size: 3vw;
    }

    .subject{
        max-width: none;
        width: 22%;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-bottom: 6vw;
        height: 100%;
    }

    #fly{
        display: none;
    }
}

@media screen and (max-width: 998px){
    .subjects{
        max-height: 999px !important;
    }

    .subjectsToggle{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .subjectsToggle ~ #subjectDropDownBtn{
        display: inline-block;
    }

    #fly{
        display: none;
    }

}

#favWrapper{
    overflow: auto;
}

/*
@keyframes changewidth {


    to {
        width: 300px;
    }
}

#fly {
    animation-duration: 10s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}*/


#fly{
    position: absolute;
    top: 15%;
    right: -10%;
    index: 0;

    transition: opacity 2s linear;

    -webkit-animation-name: fly;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes fly{
    25%{
        top: 50%;
        right: 30%;
    }

    50%{
        top: 30%;
        right: 60%;
    }

    75%{
        top: 50%;
        right: 90%;
    }

    100%{
        top: 30%;
        right: 110%;
    }
}