
.subjects:first-child{
	margin-left:0; 
}

.subject{
	display: inline-block;
    width: 100px;
	margin-top: 20px;
	padding: 0px;
    height: 150px;
    text-shadow: 1px 1px #000000;
    color: white;
    cursor: pointer;
    position: relative;
}

.subjectNormal{
    margin: 5px !important;
}
.subjectNormal img{
    height: 4em;
}
.subjectNormal h4{
    padding: 0;
    font-size: medium;
}

.subjectimg:hover{
    opacity: 1 !important;
}

.subjectContent{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
    height: 0;
	overflow: hidden;
	-webkit-transition: opacity 1s;
}
.subjectContent:target{
	opacity: 1;
    height:auto;
    -webkit-transition: opacity 1s;
}

.category{
	width: 200px;
	height: 100px;
	-webkit-border-radius: 10px;
	display: inline-block;
	margin-left:20px;
	margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
	padding-top: 0;
	background-size: 100% 100%;
	border: 2px solid white;
    overflow: hidden;
}

.categoryname{
    color: white;
    margin-top: 70px;
    background-color: rgba(0,0,0, 0.5);
}


#game{
    width: 100%;
    background-color: white;
    overflow: hidden;
    margin-top: 5px;
}

#AddFavourite{
    float: right;
    padding: 10px;
}

#favIcon{
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 50px;
    background-size: 100% 100%;
    background-color: Transparent;
}
#favIcon:hover{
    background-image: url("/public/img/favorittericon2.png") !important;
}


/* desktop */
@media screen and (min-width: 660px) {

    .subject:hover .subjectname{
        font-size: x-large;
        width: 140%;
        z-index: 99;
        left: -15px;
        top: 100px;
        background-color: #00BFD5 !important;
        transition: background-color 0.1s;
    }
    .subjectname{
        width: 100%;
        margin: 0px;
        padding: 8px;
        display: inline-block;
        background-color: #6AA440;
        position: absolute;
        z-index: 5;
        left: 5px;
        font-size: large;
        top: 110px;
        border-radius: 5px;
        border: 3px solid white;
    }

    .subjectimg{
        -webkit-transition: opacity 0.3s !important;
        height: 8em;
    }
    .subject{
        margin-left: 50px;
        margin-bottom: 10px;
        margin-right: 100px;
    }
}
/* mobile */
@media screen and (max-width: 659px) {
    .subjectname{
        width: 100%;
        margin: 0px;
        padding: 8px;
        display: inline-block;
        background-color: #6AA440;
        position: absolute;
        z-index: 5;
        left: -10px;
        font-size: medium;
        top: 70px;
        border-radius: 5px;
        border: 3px solid white;
    }

    .subjectimg{
        height: 90px;
    }
    .subject{
        margin-left: 25px;
        margin-right:25px;
    }
}

#favWrapper{
    overflow: auto;
}