#homeworkCount {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 15px;
    left: -15px;
    font-size: 10pt;
    color: white;
    background-color: dodgerblue;
    border-radius: 25%;
    text-align: center;
    text-shadow: -1px 1px 1px rgba(0, 0 ,0, 1);
    border: 2px solid white;
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 1);
}

.subject{
	display: inline-block;
    padding: 0;
    text-shadow: 1px 1px #000000;
    color: white;
    cursor: pointer;
    position: relative;
    width: 25%;
    max-width:133px;
    margin: 25px 7% 24px;
}

.subjectname{
    width: 100%;
    margin: 0;
    padding: 8px;
    display: inline-block;
    background-color: #FF8700;
    position: absolute;
    z-index: 5;
    left:-10px;
    font-size: 22px;
    top: 80%;
    border-radius: 5px;
    border: 3px solid white;
    transition: background-color 0.3s;
}
.subjectimg{
    width: 100%;
}

.subjectContent{
	width: 100%;
	background-color: rgba(255,255,255,0.5);
	overflow: hidden;
	transition: opacity 1s;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.mobileBackBtn {
    display: none;
    padding: 10px;
    background-color: #00748f;
    border-radius: 10px;
    top: 5px;
    left: 5px;
    margin: 5px;
}

.category{
	width: 300px;
	height: 150px;
	border-radius: 10px;
	display: inline-block;
    margin: 20px 10px;
    cursor: pointer;
	padding-top: 0;
	background-size: 100% 100%;
	border: 2px solid white;
    overflow: hidden;
}

.lObject {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 20px 10px;
    cursor: pointer;
    padding-top: 0;
    background-size: 100% 100%;
    overflow: hidden;
}

.categoryname{
    color: white;
    margin-top: 105px;
    background-color: rgba(0,0,0, 0.7);
    font-size: 18px;
    border-radius: 5px;

}

.category:hover .categoryname, .lObject:hover .categoryname {
    background-color: #00BFD5;
}


#game{
    width: 100%;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}

#favIcon{
   display: none;
}
#favIcon + label{
    background-image: url("/public/img/favorittericon1.png");
    position: absolute;
    right: 1px;
    top: 1px;
    height: 45px;
    width: 45px;
    background-size: 100% 100%;

    cursor: pointer;
    background-repeat: no-repeat;
}
#favIcon:checked + label{
    background-image: url("/public/img/favorittericon2.png");
}

#favoritTekst {
    position: absolute;
    margin-top: 44px;
    margin-left: -30px;
}

/*Breadcrumb source: https://css-tricks.com/triangle-breadcrumbs/*/
#crumbs {
    overflow: auto;
    text-align: left;
}

#crumbs ul {
    list-style: none;
    display: inline-table;
    float: left;
}

#crumbs ul li {
    display: inline;
}

#crumbs ul li a {
    display: block;
    float: left;
    background: #3498db;
    text-align: center;
    padding: 5px;
    position: relative;
    margin: 0 3px 0 0;
    padding-left: 25px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}
#crumbs ul li a:after {
    content: "";
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 17px solid #3498db;
    position: absolute;
    right: -16px;
    top: 0;
    z-index: 1;
}

#crumbs ul li a:before {
    content: "";
    border-top: 16px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 18px solid #c0eaff;
    position: absolute; left: 0; top: 0;
}

#crumbs ul li:first-child a {
    border-top-left-radius: 10px; border-bottom-left-radius: 10px;
    padding-left: 15px;
}
#crumbs ul li:first-child a:before {
    display: none;
}

#crumbs ul li:last-child a {
    padding-right: 20px;
    border-top-right-radius: 10px; border-bottom-right-radius: 10px;
    pointer-events: none;
    cursor: default;
}
#crumbs ul li:last-child a:after {
    display: none;
}

#crumbs ul li a:hover {
    background: #2db8db;
}
#crumbs ul li a:hover:after {
    border-left-color: #2db8db;
}

#subjectDropDownBtn{
    display: none;
    background-color: #333333;
    width: 100px;
    padding: 10px;
    margin: 0;
    color: white;
    cursor: pointer;
}
#subjectDropDownBtn:hover{
    background-color: #777777;
}

 /*desktop */
@media screen and (min-width: 999px) {
    .subjectNormal{
        margin: 10px 3px 10px !important;
        height: 120px !important;
        width: 10%; !important;
    }

    .subjectNormal:hover .subjectimg{
        width: 113px !important;
        left:-6px !important;
        top: -6px !important;
    }

    .subject:hover .subjectimg{
        width: 120%;
        left:-13px;
        top: -10px;
        opacity: 1 !important;
    }

    .subject:hover .subjectname {
        background-color: orangered;
    }

    .selectedSubject {
        opacity: 1 !important;
    }
    .selectedSubject .subjectname {
        background-color: orangered !important;
    }

    .subjectNormal {
        transition: opacity 0.3s;
        opacity: 0.4;
    }

    .subjectNormal:hover {
        opacity: 1 !important;
    }

    .subjectNormal h4{
        top: 70%;
        left: -3px;
        padding: 0;
        font-size: 16px;
        margin: 0;
    }
}



@media screen and (min-width: 1000px) {

    .subjectimg{
        position: absolute;
        left: -1px;
        top: 0;
        transition: opacity 0.3s, width 0.3s, left 0.3s, top 0.3s !important;
        z-index: 3;
    }
    .subject{
        height: 150px;
    }
}
 /*mobile */

@media screen and (max-width: 500px) {
    .subjectname{
        font-size: 4vw!important;
        padding: 6px;
    }
}
@media screen and (max-width: 774px),
screen and (min-device-width : 768px) and (max-device-width : 1024px),
screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .subjectname{
        padding: 3px;
        left:-6px;
        font-size: 3vw;
    }

    .subject{
        max-width: none;
        width: 22%;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-bottom: 6vw;
        height: 100%;
    }

    .subjects{
        max-height: 999px !important;
    }

    .subjectsToggle{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .subjectsToggle ~ #subjectDropDownBtn{
        display: inline-block;
    }

    #fly{
        display: none;
    }

    #crumbs ul {
        display: none;
    }

    .mobileBackBtn {
        display: inline-block;
    }

    #game {
        width: 96%;
        padding-left: 5px;
        padding-right: 5px;
    }

    #content {
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 998px){
    .subjects{
        max-height: 999px !important;
    }

    .subjectsToggle{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    .subjectsToggle ~ #subjectDropDownBtn{
        display: inline-block;
    }

    #fly{
        display: none;
    }

}

#favWrapper{
    overflow: auto;
}

/*
@keyframes changewidth {


    to {
        width: 300px;
    }
}

#fly {
    animation-duration: 10s;
    animation-name: changewidth;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}*/


#fly{
    position: absolute;
    top: 15%;
    right: -10%;
    z-index: -9;

    transition: opacity 2s linear;

    -webkit-animation-name: fly;
    -webkit-animation-duration: 15s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
}

@-webkit-keyframes fly{
    25%{
        top: 50%;
        right: 30%;
    }

    50%{
        top: 30%;
        right: 60%;
    }

    75%{
        top: 50%;
        right: 90%;
    }

    100%{
        top: 30%;
        right: 110%;
    }
}