html{
    color: white;
    text-shadow: 2px 2px 3px #000000;
}

#homeworkList a, #homeworkList  a:visited{
    color: #ff8503;
    text-decoration: none;
}
#homeworkList a:hover{
    color: #fcb56a;
}

.mypage{
    border-radius: 10px;
}

#usernameAndClass {
    font-size: larger;
    background-color: #ff8503;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    display: inline-block;
    width: 200px;
    margin-top: 20px;
}

#homeworkList {
    color: black;
    text-shadow: none;
    background-color: #d8d8d8;
    display: inline-block;
    width: 400px;
    margin-top: 20px;
}

#homeworkListHeader{
    font: italic 20px Ubuntu;
}

#favouriteList {
    display: inline-block;
}

#favouritePicture {
    width: 120px;
    margin: 30px;

}


