body {
    background: linear-gradient(deepskyblue, white);
    background: -webkit-linear-gradient(deepskyblue, white);
}

table, tr, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table{
    margin-top: 20px;
    width: 100%;
}
table tr:nth-child(even){
    background-color: #DDDDDD;
}
table tr:nth-child(odd){
    background-color: white;
}

#topLinks{
    width: 350px;
    margin-left: 65%;
}