html {
    background-image: none;
    background-color: white;
}

.teachersClasses{
    display: inline-block;
    min-width: 70px;
    padding:10px;
    border-radius: 5px;
    background-color: indianred;
    margin: 10px;
}

.teachersClassesInfo{
    width: 500px;
    border-radius: 5px;
    margin: auto;
    padding-bottom: 20px;
    height: 0px;
    opacity: 0;
    transition: opacity 1s;
    background-color: rgba(155,155,155,0.7);
}

.teachersClassesInfo:target{
    opacity: 1;
    height: auto;
}

.teacherBoxes{
    background-color: lightgrey;
    padding: 10px;
    width: 160px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;

}

#teacherClassList{
    width: 100%;
}

#classContent{
    display: inline-block;
}

#teacherGjoeremaal