html {
    background: #dddddd none;
}

.mainTeacherNavLinks{
    display: inline-block;
    width: 20%;
    padding: 20px;
    background-color: white;
    color: black;
    margin: 20px 3% 50px;;
}
.mainTeacherNavLinks:visited{
    color: black;
}

.classStats{
    display: inline-block;
    width: 40%;
    height: 200px;
    margin-right: 2%;
    margin-left: 2%;
    background-color: white;
    box-shadow: 3px 3px 2px #959595;
    border-radius: 3px;
}