<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://46.9.233.124/public/stylesheets/hinduism_game_view.css">
    <meta charset="UTF-8">
</head>

<body>
<div id="hinduism_game">
    <div class="main" id="hinduism">
        <img id="leftArrow" src="../../../public/img/hinduismespillet/Pil1.png">
        <img src="../../../public/img/hinduismespillet/FoH-Hinduisme.png">
        <img id="rightArrow" src="../../../public/img/hinduismespillet/Pil1.png">

        <h2>Hinduisme</h2>

        <div class="content">
            <ul>
                <li>Hinduismen er den største religionen i India. Den er over 4500 år gammel.</li>
                <br>
                <li>Hinduismen har blitt til av tradisjoner fra gammelt av, og har ikke bare én grunnlegger.</li>
                <br>
                <li>Hinduer mener at alt som lever, er hellig. De tror også at det finnes mange forskjellige guder.</li>
                <br>
                <li>De tre viktigste gudene er:
                    <ul>
                        <br>
                        <li>Brahma, som skaper verden.</li>
                        <li>Vishnu, som opprettholder verden.</li>
                        <li>Shiva, som ødelegger verden.</li>
                    </ul>
                </li>
                <br>
                <li>Dette viser tre sider ved livet for en hindu. Verden skapes, opprettholdes, ødelegges og skapes igjen.</li>
                <br>
                <li>Slik tror også hinduene at det er for mennesker. Etter at vi dør, gjenfødes vi igjen.</li>
                <br>
                <li>En hindus mål er å bli fri fra gjenfødelsen.</li>
            </ul>
        </div>
        <!--Her må bildene nederst legges til i css-->
    </div>

    <div class="main" id="pudsja">
        <img id="leftArrow" src="../../../public/img/hinduismespillet/Pil1.png">
        <img src="../../../public/img/hinduismespillet/FoH-Pudsja.png">
        <img id="rightArrow" src="../../../public/img/hinduismespillet/Pil1.png">

        <h2>Bønn - Pudsja</h2>

        <div class="content">
            <ul>
                <li>Hinduer kan be til mange guder. Du kan be hjemme eller i templet.</li>
                <br>
                <li>Hjemme har hinduene ofte et eget sted hvor de ber. Her plasserer de gudestatuene som de vil be til. </li>
                <br>
                <li>Hinduene vasker gudestatuene og gir dem gaver, som blomster, mat og drikke.</li>
                <br>
                <li>Det er også vanlig å tenne lys og røkelse. De kan også danse og synge for gudene.</li>
                <br>
                <li>Alt dette kalles pudsja. Pudsja gjøres vanligvis om morgenen.</li>
                <br>
                <li>Det er viktig at man har vasket seg og er ren når man skal gjøre pudsja.</li>
            </ul>

        </div>
        <!--Her må bildene nederst legges til i css-->
    </div>

    <div class="main" id="Pilegrimsreise">
        <img id="leftArrow" src="../../../public/img/hinduismespillet/Pil1.png">
        <img src="../../../public/img/hinduismespillet/FoH-Pilegrimsreise.png">
        <img id="rightArrow" src="../../../public/img/hinduismespillet/Pil1.png">

        <h2>Pilegirmsreise til elven Ganges</h2>

        <div class="content">
            <ul>
                <li>Pilegrimsreiser er viktig for hinduer. På en slik reise er det vanlig å dra til et hellig sted.</li>
                <br>
                <li>For hinduer er vann og elver spesielt hellige. Det er mange hinduer som vil reise til elven Ganges.</li>
                <br>
                <li>Elven er oppkalt etter elvegudinnen Ganga, og er den helligste elven for alle hinduer.</li>
                <br>
                <li>Når en hindu har kommet til Ganges, skal han helst bade eller vaske seg i elven, for å gjøre sjelen ren.</li>
            </ul>

        </div>
        <!--Her må bildene nederst legges til i css-->
    </div>

    <div class="main" id = "temples">
        <img id="leftArrow" src="../../../public/img/hinduismespillet/Pil1.png">
        <img src="../../../public/img/hinduismespillet/FoH-Templer.png">
        <img id="rightArrow" src="../../../public/img/hinduismespillet/Pil1.png">

        <h2>Hinduistiske templer</h2>

        <div class="content">
            <ul>
                <li>Hinduene kaller ofte templene sine mandir som betyr “det indre jeg”. Disse templene er åndelige hus.</li>
                <br>
                <li>De er vanligvis bygget til ære for en gud, men det kan ha statuer eller bilder av flere guder.</li>
                <br>
                <li>I templet er det ofte et basseng med vann. Dette vannet brukes for å vaske seg og rense bort synder.</li>
                <br>
                <li>I noen templer har disse bassengene også blitt brukt som vannlagre. Dette vannet kunne brukes når det var tørketid.</li>
            </ul>
        </div>
        <!--Her må bildene nederst legges til i css-->
    </div>

    <div class="main" id="bhagavadgita">
        <img id="leftArrow" src="../../../public/img/hinduismespillet/Pil1.png">
        <img src="../../../public/img/hinduismespillet/FoH-Bhaga.png">
        <img id="rightArrow" src="../../../public/img/hinduismespillet/Pil1.png">

        <h1>Bhagavadgita - religiøs tekst</h1>

        <div class="content">
            <ul>
                <li>Bhagavadgita er en av hinduismens viktigste skriftter og betyr “Herrens sang”.</li>
                <br>
                <li>I teksten snakker guden Krishna og krigeren Arjuna om hvordan man skal leve livet rett.</li>
                <br>
                <li>Den forklarer hvordan man kan bli fri fra gjenfødelsen. Krishna sier at mennesket må følge kjærligheens vei og ikke bare tenke på seg selv.</li>
                <br>
                <li>Den kjente hinduen Mahatma Gandhi leste Bhagavadgita. Det inspirerte ham til å kjempe for frihet for folket sitt på en ikkevoldelig måte.</li>
            </ul>

        </div>
        <!--Her må bildene nederst legges til i css-->
    </div>

    <div class="main" id="cow">
        <img id="venstrePil" src="../../../public/img/hinduismespillet/Pil1.png">
        <img src="../../../public/img/hinduismespillet/FoH-HelligKu.png">
        <img src="../../../public/img/hinduismespillet/Pil1.png">

        <h1>Hellig ku</h1>

        <div class="content">
            <ul>
                <li>For en hindu er alt liv hellig. Kua er for hinduene et hellig dyr. Den minner om rikdom og liv.</li>
                <br>
                <li>Det er ingen hinduer som vil skade eller drepe ei ku. Siden kua er så spesiell, får den gå fritt rundt i gatene.</li>
                <br>
                <li>Hinduer spiser ikke kukjøtt. Mange hinduer spiser ikke kjøtt i det hele tatt fordi de mener det er galt å drepe dyr.</li>
                <br>
                <li>Dem kaller man vegetarianere.</li>
            </ul>
        </div>
        <!--Her må bildene nederst legges til i css-->
    </div>

    <div class="main" id="karma">
        <img id="leftArrow" src="../../../public/img/hinduismespillet/Pil1.png">
        <img src="../../../public/img/hinduismespillet/FoH-Karma.png">
        <img id="rightArrow" src="../../../public/img/hinduismespillet/Pil1.png">

        <h1>Karma</h1>

        <div class="content">
            <ul>
                <li>Hinduer tror at mennesket blir født mange ganger. Karmas lov sier at det du gjør i dette livet, bestemmer hvordan det neste livet blir.</li>
                <br>
                <li>Du får god karma hvis du gjøre gode handlinger og lever riktig. Hvis du lever mange gode liv, kan du til slutt slippe å bli gjenfødt.</li>
                <br>
                <li>Da har du oppnådd moksha, som betyr at du er befridd fra livet på jorden og kan leve med gudene.</li>
                <br>
                <li>Det er veldig vanskelig å oppnå moksha.</li>
            </ul>
        </div>
        <!--Her må bildene nederst legges til i css-->
    </div>

    <div class="main" id="pageList">
        <table style="width:100%">
            <tr id="learningobjectRow">
                <td><img src="../../../public/img/hinduismespillet/small/FoH-HinduismeLiten.png"></td>
                <td><img src="../../../public/img/hinduismespillet/small/FoH-PudsjaLiten.png"></td>
                <td><img src="../../../public/img/hinduismespillet/small/FoH-PilegrimsreiseLiten.png"></td>
                <td><img src="../../../public/img/hinduismespillet/small/FoH-TemplerLiten.png"></td>
                <td><img src="../../../public/img/hinduismespillet/small/FoH-BhagaLiten.png"></td>
                <td><img src="../../../public/img/hinduismespillet/small/FoH-HelligKuLiten.png"></td>
                <td><img src="../../../public/img/hinduismespillet/small/FoH-KarmaLiten.png"></td>
            </tr>
    </div>
</div>
</body>

</html>

