.slide11.background{
    background: linear-gradient(#d38db5, #ddbac8);
    background: -webkit-linear-gradient(#d38db5, #ddbac8);
}
.slide11 .jasmin {
    height: 250px;
    top: 230px;
    left: 60%;
}
.slide11 .snakkeboble{
    left: 45%;
    top: 50px;
    width: 260px;
}