.slide16.background{
    background: linear-gradient(#aae7ae, #e2d8af);
    background: -webkit-linear-gradient(#aae7ae, #e2d8af);
}
.slide16 .jasmin{
    height: 300px;
    bottom: -30px;
    left: 45%;
}
.slide16 .snakkeboble{
    top: 30px;
    width: 310px;
}