.slide12.background{
    background: linear-gradient(#b8cf9b, #d5ecbc);
    background: -webkit-linear-gradient(#b8cf9b, #d5ecbc);
}
#bgita-bok{
    bottom: 20px;
    width: 310px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 99;
}

.snakkeboble{
    top: 30px;
    width: 260px;
}