.slide15.background{
    background: linear-gradient(#cd99e2, #e3d4b1);
    background: -webkit-linear-gradient(#cd99e2, #e3d4b1);
}
.slide15 .jasmin{
    height: 300px;
    bottom: -20px;
    left: 40%;
}
.slide15 .snakkeboble{
    top: 30px;
    width: 310px;
}