.slide2.background{
    background: linear-gradient(#dbaaf0, #ffffff);
    background: -webkit-linear-gradient(#dbaaf0, #ffffff);
}

.slide2 .jasmin{
    height: 300px;
    top: 200px;
    left: 60%;

}

.slide2 .snakkeboble{
    top: 50px;
    left: 45%;
    width: 260px;
}