.slide12.background{
    background: linear-gradient(rgb(34, 87, 139), rgb(142, 50, 205));
    background: -webkit-linear-gradient(rgb(34, 87, 139), rgb(142, 50, 205));
}
#bgita-bok{
    bottom: 20px;
    width: 310px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 99;
}

.snakkeboble{
    top: 30px;
    width: 260px;
}