html, body {
    width: 100%;
    height: 100%;
    margin:0;
}
.container
{
    width: 100%;
    height: 100%;
    max-width: 900px;
    background: black;
}
.background{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;

}
.jasmin{
    position: absolute;
    height: 500px;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    z-index: 11;
}
.snakkeboble{
    position: absolute;
    width: 260px;
    background: white;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
}

.swipeshow {
    width: 90% !important;
    max-width: 700px;
    overflow: hidden;
}