.slide1.background{
    background: linear-gradient(deepskyblue, white);

}
.slide1 .jasmin{

}
.slide1 .snakkeboble{

}
.slide1 .blomst{
    position: absolute;
    height: 500px;
    top: 100px;
    margin-left: 3%;
    z-index: 1;
}
/*
.slide.active .slide1 .blomst{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         40s;
    -webkit-animation-iteration-count:  infinite;
}

@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);

    }
}
*/