.slide15.background{
    background: linear-gradient(mediumpurple, mediumpurple, #e2b512);
    background: -webkit-linear-gradient(mediumpurple, mediumpurple, #e2b512);
}
.slide15 .jasmin{
    height: 300px;
    bottom: -20px;
    left: 40%;
}
.slide15 .snakkeboble{
    top: 30px;
    width: 310px;
}