.slide11.background{
    background: linear-gradient(deeppink, white);
}
.slide11 .jasmin {
    height: 450px;
    top: 200px;
    left: 60%;
}
.slide4 .snakkeboble{
    left: 45%;
    top: 50px;
    width: 260px;
}