.slide2.background{
    background: linear-gradient(purple, white);
    background: -webkit-linear-gradient(purple, white);
}

.slide2 .jasmin{
    height: 500px;
    top: 200px;
    left: 60%;

}

.slide2 .snakkeboble{
    top: 50px;
    left: 45%;
    width: 260px;
}