.slide6.background{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(dodgerblue, powderblue); /* Standard syntax */
}
.slide6 .jasmin{
    height: 48%;
    bottom: 4%;
    left: 50%;
}
.slide6 .snakkeboble{
    left: 50%;
    top: 20px;
    width: 270px;
}