.slide1.background{
    background: linear-gradient(deepskyblue, white);

}
.slide1 .jasmin{

}
.slide1 .snakkeboble{

}
.slide1 .blomst{
    position: absolute;
    height: 500px;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0) rotate(0deg);
    margin-left:auto;
    margin-right:auto;
}

.slide.active .slide1 .blomst{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         40s;
    -webkit-animation-iteration-count:  infinite;
}

@-webkit-keyframes rotate {
    to {
        -webkit-transform: translate(-50%, 0) rotate(360deg);
    }
}