.slide9.background{
    background: url("../bilder/lolletempel.png") no-repeat;
    background-size: 100% 100%;
}

.slide9 .jasmin{
    position: absolute;
    height: 170px;
    top: 270px;
    left: 45%
}
.slide9 .snakkeboble{
    top: 60px;
    width: 260px;
}